# Ignorar la carpeta de subidas de medios
# Archivos grandes que no deben ser versionados
wp-content/uploads/2024/12/skin.mp4
wp-content/uploads/2024/12/skin-1.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion1_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion7_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion6_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion4_low.mp4
wp-content/uploads/2024/12/CLasesDaria_Leccion3_low.mp4

# Ignorar carpetas de caché
wp-content/cache/
wp-content/wpcache/
*.w3tc.php

# Ignorar archivos de backup
*.zip
*.tar.gz
*.sql

# Ignorar archivos de configuración sensibles y de desarrollo
wp-config.php
.htaccess
.DS_Store
Thumbs.db
node_modules/
