# Ignorar la carpeta de subidas de medios
# Archivos grandes que no deben ser versionados
wp-content/uploads/2024/12/skin.mp4
wp-content/uploads/2024/12/skin-1.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion1_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion7_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion6_low.mp4
wp-content/uploads/2024/12/ClasesDaria_Leccion4_low.mp4
wp-content/uploads/2024/12/CLasesDaria_Leccion3_low.mp4


# Archivos grandes que exceden el límite de GitHub
wp-content/uploads/2024/11/ClasesDaria_Cierre2_low.mp4
wp-content/uploads/2024/11/ClasesDaria_Leccion2_low.mp4
wp-content/uploads/2024/11/ClasesDaria_Leccion5_low.mp4
wp-content/uploads/2024/12/Introduccion.mp4
wp-content/uploads/2024/11/ClasesDaria_Cierre1_low.mp4

# Ignorar carpetas de caché

# Ignorar archivos de backup

# Ignorar archivos de configuración sensibles y de desarrollo
