.elementor-899 .elementor-element.elementor-element-49eaefe9{--display:flex;}/* Start custom CSS for container, class: .elementor-element-49eaefe9 */h1.entry-title {
    text-align: center;
}
.entry-content.clear h2 {
    text-align: center;
}/* End custom CSS */